   #show-menu {
        display: none;
    }

    .pull-right{
        max-width: 100%;
    }

    .article-body {
        font-family: 'Spectral SC', serif;
    }

@media screen and (max-width: 600px) {
    .hamburger {
        float: right;
        width: 35px;
        height: 6px;
        border-top: 5px solid black;
        border-bottom: 15px double black;
        margin: 3% 3%;
    }
    .tab {
        visibility: collapse;

    }


    .main-nav .show-menu {
        display:block;

    }

    #show-menu:checked ~ * .tab {
        visibility: visible;
    }
    .main-nav {
        width: 30%;
    }
    .main-nav ul {
        width: 70%;
        margin-right: 2%;
        float: right;

    }
        .main-nav ul li {
        display: block;
        text-align: right;
        margin-top: 3%;


}
}
.template{
  display:none;
}
